body{
    margin: 0px;
    font-family: 'Teko', sans-serif;
}

/* section{
    margin-bottom:150px;
    
} */
p{
    font-size: 20px;
}

h1{
    font-size: 80px;
    margin: 0px;
}
.marg{
    margin-left: 20px;
}

h3{
    font-size: 60px;
    margin: 0px;
}
h4{
    font-size: 45px;
    margin: 0px;
}
h5{
    font-size: 25px;
}
.orange-color{
    color: orange;
}
.flexible{
    display: flex;
    padding: 1% 9% 0% 9%;
    
    /* margin: 50px; */
    
}
.flexback{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 180px;


}

.flexback2{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 180px;


}

.half-width{
    width: 50%;
}
.phot{
    height: 380px;
    width: 510px;
    margin-top: 55px;
    background-image: url(my-bg.png);
    background-repeat: no-repeat;
    background-size: 380px;
    background-position-x: 100px;
    
}

.phot2{
    height: 450px;
    width: 570px;
    margin-top: 15px;
    background-image: url(my-bg2.png);
    background-repeat: no-repeat;
    background-size: 450px;
    /* padding-bottom: 130px; */
    /* background-position-x: -100px; */
    
}

.card-back{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
}

.card{
    border: 2px solid whitesmoke;
    border-radius: 8px;
    box-shadow: 10px 10px 15px grey;
    padding: 10px ;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin: auto;
    height: 330px;

    
}
#full{
    
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, blue);
    border-image-slice: 1;
}
#full2{
    
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon,red);
    border-image-slice: 1;
}

.link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}

footer{
    margin-top: 150px;
    text-align: center;
    font-weight: 400;
}