body{
    margin: auto;
}

section{
    margin: 0px 40px 140px 40px;
    
}
h1{
    font-size: 50px;
}

h3{
    font-size: 40px;
}
h4{
    font-size: 18px;
}
.orange-color{
    color: orange;
}
.flexible{
    display: flex;
    
}
.half-width{
    width: 50%;
}
.phot{
    height: 430px;
    width: 630px;
}