body{
    margin-top: -40px;
    font-family: 'Teko', sans-serif;
}

section{
    margin: 0px 30px 140px 30px;
    
}
p{
    font-size: 20px;
}

h1{
    font-size: 80px;
}

h3{
    font-size: 60px;
}
h4{
    font-size: 25px;
}
.orange-color{
    color: orange;
}
.flexible{
    display: flex;
    padding: 4%;
    
}
.half-width{
    width: 50%;
}
.phot{
    height: 430px;
    width: 630px;
}